<h1>Welcome</h1>

<h2>Accessing DataView from Controller</h2>

<h2>@ViewData["Name"]</h2>

<h2 style="background-color:blue">10 + 10 = @ViewData["Addition"]</h2>

<h2 style="background-color:brown">10 - 10 = @ViewData["Subtraction"]</h2>

<h2 style="background-color:darkgreen">10 * 10 = @ViewData["Multiplication"]</h2>

<h2 style="background-color:indigo">10 / 10 = @ViewData["Division"]</h2>

<h2 style="background-color:yellow">Full Name = @ViewData["FullName"]</h2>